doctype 5
html
  head
    title Auth test page;
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body(data-ng-app="AuthExampleApp")

    script(src="/components/jquery/jquery.min.js")
    script(src="/components/angular/angular.min.js")
    script(src="/components/angular-resource/angular-resource.min.js")
    script(src="/components/angular-cookies/angular-cookies.min.js")

    script(src="/app.js")
    script(src="/symfio-auth/plugin.js")

    symfio-auth(data-password-text="Password text from attrs")
