div.symfio-auth-error-message(ng-show="invalid") {{ errorMessage }}

div.symfio-auth-login-text
  label(ng-hide="showPlaceholders") {{ loginText }}
  input(name="username", ng-model="user.username", placeholder="{{ (showPlaceholders && loginText) || '' }}")

div.symfio-auth-password-text
  label(ng-hide="showPlaceholders") {{ passwordText }}
  input(name="password", type="password", ng-model="user.password", placeholder="{{ (showPlaceholders && passwordText) || '' }}")

div.symfio-auth-button-text
  button(data-ng-click="submit()") {{ buttonText }}