div(ng-show="invalid") {{ errorMessage }}

div
  label(ng-hide="showPlaceholders") {{ loginText }}
  input(name="username", data-ng-model="user.username", placeholder="{{ (showPlaceholders && loginText) || '' }}")

div
  label(ng-hide="showPlaceholders") {{ passwordText }}
  input(name="password", type="password", data-ng-model="user.password", placeholder="{{ (showPlaceholders && passwordText) || '' }}")

div
  button(data-ng-click="submit()") {{ buttonText }}